/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 992px;

// 992

// Large desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$dark-brown: #4E4741;
$gray: #EAE7E4;
$light-brown: #BFA48A;
$light-pink: #F0CCC5;
$dark-pink: #E3A599;