/* =============
    Base
============= */
// body{

//     // font-family: 'Cabin', sans-serif;
//     font-family: 'Playfair Display', serif;




// // .container-grid{
// //     display: grid;
// //     grid-template-columns: auto 1200px auto;
// //     grid-template-areas: ". grid-content .";
// //     min-height: 100vh;

// //     .grid-content{
// //         grid-area: grid-content;
// //         min-height: 100vh;
// //         display: flex;
// //         justify-content: center;
// //         align-items: center;
// //     }
// // }

// // .image-test{
// //     img{
// //         width: 100%;
// //     }
// // }
// }




    button{
        font-weight: 600;
        border: none;
        padding: 5px 15px;
        border-radius: 5px;
        transition: 0.25s;
        cursor: pointer;
    }
    ul{
        margin: 0;
        padding: 0;
        li{
            list-style: none;
        }
    }

    figure{
        padding: 0;
        margin: 0;
    }
