/* =============
    announcements
============= */

#announcements{

    display: grid;
grid-template-columns: 16px auto 16px;
grid-template-areas: ". announcements .";

// grid-template-columns: 16px auto 219px 16px;
// grid-template-areas: ". event image ."
//                      ". button image .";

>div{
    grid-area: announcements;
    // border: 1px solid red;

}

}

// #announcements{

//     display: grid;
// grid-template-columns: auto auto;
// grid-template-rows: 200px 200px;
// grid-template-areas: ". e1 i1 ."
//                      ". b1 i1 ."

//                      ". e2 i2 ."
//                      ". b2 i2 .";


// #text1 {
//     grid-area: e1;

// }

// #image-event{
//     grid-area: i1;
// }

// #button1{
//     grid-area: b1;
// }

// #text2{
//     grid-area: e2;
// }

// #image-icecream{
//     grid-area: i2;
// }

// #button2{
//     grid-area: b2;
// }
// }
