/* =============
    hero
============= */



#hero-image {
    img {
        width: 100%;
        object-fit: cover;
        display: block;
    }

}

#hero {


    ul {


        li {

            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero .";


            a {
                grid-area: hero;
                >div{
                    display: flex;
                    align-items: center;

                 .details-button{
                      margin-left: auto;

                  }

                }

            }
        }




        #menu-hero {

            a:link,
            a:visited {

                padding: 30px 10px;


                grid-area: hero;
                color: $darkbrown;
                transition: 00.25s;

                &:hover,
                &:active {
                    background-color: $darkbrown;
                    color: $darkpink;

                    h4 {
                        color: $darkpink;
                    }

                    i {
                        color: $darkpink;
                    }
                }
            }

            background-color: $darkpink;

            @include md {
                justify-content: right;
            }
        }


        #location-hero {



            a:link,
            a:visited {

                padding: 40px 10px;


                grid-area: hero;
                color: $darkbrown;
                transition: 00.25s;

                &:hover,
                &:active {
                    background-color: $darkbrown;
                    color: $darkpink;

                    h4 {
                        color: $lightpink;
                    }

                    i {
                        color: $lightpink;
                    }
                }
            }

            background-color: $lightpink;



            @include md {
                justify-content: left;
            }



        }

        @include md {
            display: grid;
            grid-template-columns: 47% auto;

        }

        @include lg {
            display: grid;
            grid-template-columns: 50% auto;

            .hero-button {
                display: list-item;
                display: inline-block;
            }
        }

    }


    a:link,
    a:visited {
        color: $darkbrown;

        transition: 0.25s;

        h3 {
            font-size: rem-calc(18);
            font-weight: 600;

            @include lg {
                font-size: rem-calc(25);
            }
        }
    }

    #cakeflavor {
        font-size: rem-calc(16);
        font-weight: 400;
    }

        #locationhero {
            font-size: rem-calc(16);
            font-weight: 400;
                span{
                    font-weight: 600;

            }
        }

        .hero-info{
            font-size: rem-calc(18);
            font-weight: 600;
        }
    

    &:hover,
    &:active {
        color: $white;
    }
}

a {
    text-decoration: none;
}










.details-button {



    @include md {
        padding: 0px 13px;
    }
}


@include lg {
    .hero-info {


        i {
            padding: 0px 5px;
        }
    }
}

.hero-button {
    display: none;
}