/* =============
    hero2
============= */
#featured {
    >div {
        display: grid;
        grid-template-rows: repeat(8, 100px);
        grid-template-areas:
            "h2-1"
            "h2-1"
            "h2-1"
            "h2-2"
            "h2-2"
            "h2-2"
            "h2-2"
            "h2-2";

        img {
            width: 100%;
        }

        #h2-1 {
            background-image: url("../img/hero2/fruit-pastries.jpg");
            background-position: center;
            background-size: cover;
            grid-area: h2-1;

        }

        #h2-2 {
            background-image: url("../img/hero2/cupcakes.jpg");
            background-position: center;
            background-size: cover;

            grid-area: h2-2;

        }

        #h2-3 {
            background-image: url("../img/hero2/macarons.jpg");
            background-position: center;
            background-size: cover;
            display: none;
        }
    }

    >div {
        @include md {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(1, 600px);
            grid-template-areas:
                "h2-1 h2-2";
        }

        #h2-1 {
            @include md {
                grid-area: h2-1;
            }
        }

        #h2-2 {
            @include md {
                grid-area: h2-2;
            }
        }



        @include lg {
            display: grid;
            grid-template-columns: 16px 60% auto 16px;
            grid-template-rows: repeat(1, 640px);
            grid-template-areas:
                ". h2-1 h2-2 .";
        }

        #h2-1 {
            @include lg {
                grid-area: h2-1;
            }
        }

        #h2-2 {
            @include lg {
                grid-area: h2-2;
            }
        }

        @include xl {
            display: grid;
            grid-template-columns: 40px 60% auto 40px;
            grid-template-rows: repeat(2, 375px);
            grid-template-areas:
                ". h2-1 h2-2 ."
                ". h2-1 h2-3 .";
        }

        #h2-1 {
            @include xl {
                grid-area: h2-1;
            }
        }

        #h2-2 {
            @include xl {
                grid-area: h2-2;
            }
        }

        #h2-3 {
            @include xl {
                grid-area: h2-3;

                display: list-item;
            }
        }
    }
}