/* =============
    hero
============= */



#hero-image {
    img{
        width: 100%;
        object-fit: cover;
        display: block;
    }

}

#hero {
  

    ul {

      
        li {

            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero .";

            a {
                grid-area: hero;

                display: flex;


            // .hero-button{
            //     margin-left: auto;
            // }
            // i{
            //     margin-left: auto;
            // }

            }
        }


   

        #menu-hero{
            a:link, a:visited{
                grid-area: hero;
                color: $darkbrown;
                transition: 00.25s;

                &:hover, &:active{
                    background-color: $darkbrown;
                    color: $darkpink;
                    h4{
                        color: $darkpink;
                    }
                    i{
                        color: $darkpink;
                    }
                }
            }
            // justify-content: center;
            background-color: $darkpink;
            padding: 20px 10px;
@include md{
            justify-content: right;
        }
    }


        #location-hero{

            a:link, a:visited{
                grid-area: hero;
                color: $darkbrown;
                transition: 00.25s;

                &:hover, &:active{
                    background-color: $darkbrown;
                    color: $darkpink;
                    h4{
                        color: $lightpink;
                    }
                    i{
                        color: $lightpink;
                    }
                }
            }

            // justify-content: center;
            background-color: $lightpink;
            padding: 40px 17px;



            @include md{
            justify-content: left;
            }

           

        }

        @include md {
            display: grid;
            grid-template-columns: 47% auto;
            
        }

        @include lg {
            display: grid;
            grid-template-columns: 50% auto;

            .hero-button{
                display: list-item;
                display: inline-block;
            }
        }

    }

  
        a:link, a:visited{
            color: $darkbrown;

            transition: 0.25s;

            h3{
                font-size: rem-calc(18);
                font-weight: 600;

                @include lg{
                    font-size: rem-calc(25);
                }
                }
            }

            h4{
                font-size: rem-calc(16);
                font-weight: 400;
                span{
                    font-weight: bold;
  
            }
            }

            &:hover, &:active{
                color: $white;
            }
        }

        a{
            text-decoration: none;
        }

      



   

        .info-content {

            display: inline-block;
        }


  

        .details-button {
 
            display: inline-block;
            text-decoration: none;

            padding: 0px 20px;

            @include md{
                padding: 0px 13px;
            }

            >h4{

                color: $darkbrown;
    
                text-decoration: none;
            }
            >i{
                color: $darkbrown;
                display: inline-block;
                text-decoration: none;
            }
        }
    

        .hero-info {
            display: grid;
            grid-template-columns: 90% auto;
            grid-template-areas: "text button";
    
            .info-content {
                grid-area: text;
    
            }
    
            .details-button {
                grid-area: button;
                display: flex;
                align-items: center;
            }
    
        }

        @include lg{
            .hero-info{
                display: inline-flex;

                i{
                    padding: 0px 5px;
                }
            }
        }
    
    .hero-button {
        display: none;
    }  


