/* =============
    hero
============= */
#hero-image {

    img {
        width: 100%;
    }

}

#hero {

    
    ul {
        

        li {

            @include xl{
               grid-template-columns: auto 480px 16px;
            }
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". hero .";

            // background-color: blueviolet;


            a {
                grid-area: hero;
                // border: 1px solid red;
            }

        }


   

        #menu-hero{
            background-color: $darkpink;
        }


        #location-hero{
            background-color: $lightpink;
            @include xl{
                display: grid;
                grid-template-columns: 16px 480px auto;
            }

        }

        @include md {
            display: grid;
            grid-template-columns: 40% auto;
            
        }

        @include lg {
            display: grid;
            grid-template-columns: 50% auto;

            .hero-button{
                display: list-item;
            }
        }

    }



    .hero-info {
        display: grid;
        grid-template-columns: 90% auto;
        grid-template-areas: "text button";

        .info-content {
            grid-area: text;

            >h3{
                color: $darkbrown;
            }
            >h4{
                color: $darkbrown;
            }

        }

        .details-button {
            grid-area: button;

            >h4{
                color: $darkbrown;
            }
            >i{
                color: $darkbrown;
            }
        }

    }

    .hero-button {
        display: none;
    }  
} 

