/* =============
    testimonials
============= */
#testimonials {

    >div {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". title-test .";

        >h1 {
            grid-area: title-test;
            // border: 1px solid red;

        }

        @include xl{

            >h1 {
                padding-left: 10%;
                padding-right: 10%;
    
            }
        }
    }

    ul {


        li {
            img {
                width: 100%;
            }

            section {
                display: grid;
                grid-template-columns: 16px auto 16px;
                grid-template-areas: ". testimonials .";

                .test-content {
                    grid-area: testimonials;
                    // border: 1px solid red;

                }
            }

        }}

     ul{

       


         @include md{
            display: grid;
            grid-template-columns: auto auto;
            // border: 1px solid green;
            grid-gap: 16px;
            padding: 16px;
         }
        li{
            @include md{
            img {
                width: 95%
            }}
        }
     }
    
     ul{
        @include lg{
           display: grid;
           grid-template-columns: auto auto auto;
        //    border: 1px solid green;
           padding: 16px;
           grid-gap: 16px;
        }
        .test-content {
            @include lg{
            grid-area: test;
            // border: 1px solid red;
        }}
       li{
           @include lg{
           img {
               width: 95%
           }}
       }
    }

    ul{
        @include xl{
           padding-right: 10%;
           padding-left: 10%
        }
    
    
    }}




    //     @include md {
    //         li {
    //             display: grid;
    //             grid-template-columns: auto auto;
    //             grid-template-areas:
    //                 "t1 t2"
    //                 "img1 img2"
    //                 "t3 t4"
    //                 "img3 img4"
    //                 "t5 t5"
    //                 "img5 img5";
    //         }
    //     }

       
    //             #img-1t{
    //                 @include md {
    //                     grid-area: img1;
    //                 } 
    //             }

        

    //             #img-2t{
    //                 @include md {
    //                     grid-area: img2;
    //                 } 
    //             }

         

    //             #img-3t{
    //                 @include md {
    //                     grid-area: img3;
    //                 } 
    //             }

          

    //             #img-4t{
    //                 @include md {
    //                     grid-area: img4;
    //                 } 
    //             }

     
    //             #img-5t{
    //                 @include md {
    //                     grid-area: img5;
    //                 } 
    //             }
    //     }
    // }
    