/* =============
    testimonials
============= */
#testimonials {
    margin-bottom: 24px;

    @include md {
        display: grid;
        grid-template-areas: ". testimonials .";
        grid-template-columns: 16px auto 16px;
        margin-bottom: 38px;
    }

    @include lg {
        margin-bottom: 58px;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
        margin-bottom: 66px;
    }

    section {
        div {
            div {
                h2 {
                    margin: 17px 0px 12px 0px;
                }
            }
        }
    }

    >div {
        @include md {
            grid-area: testimonials;
        }

        #test-title {
            display: grid;
            grid-template-areas: ". title-test .";
            grid-template-columns: 16px auto 16px;

            >h1 {
                font-size: rem-calc(20);
                font-weight: 400;
                grid-area: title-test;
                margin: 18px 0px 12px 0px;

                @include md {
                    font-size: rem-calc(28);
                    margin: 24px 0px 16px 0px;
                }

                @include lg {
                    font-size: rem-calc(37);
                    margin: 13px 0px 16px 0px;
                }

                @include xl {
                    margin: 39px 0px 5px 0px;
                }
            }
        }

        ul {
            @include md {
                display: grid;
                gap: 16px;
                grid-template-areas: "t1 t1 t2 t2"
                    "t3 t3 t4 t4"
                    ". t5 t5 .";
                grid-template-columns: repeat(4, 1fr);
            }

            #t1 {
                @include lg {
                    grid-area: t1;
                }
            }

            #t2 {
                @include lg {
                    grid-area: t2;
                }
            }

            #t3 {
                @include lg {
                    grid-area: t3;
                }
            }

            #t4 {
                @include lg {
                    grid-area: t4;
                }
            }

            #t5 {
                @include lg {
                    grid-area: t5;
                }
            }

            @include lg {
                display: grid;
                grid-template-areas: "t1 t1 t2 t2 t3 t3"
                    ". t4 t4 t5 t5 .";
                grid-template-columns: repeat(6, 1fr);
            }

            li {
                background-color: $gray;

                img {
                    width: 100%;
                }

                #img-1t {
                    background-image: url("../img/testimonials/wedding-cake.jpg");
                    background-position: center 30%;
                    background-size: cover;
                    height: 250px;
                }

                #img-2t {
                    background-image: url("../img/testimonials/strawberry-cupcakes.jpg");
                    background-position: center 80%;
                    background-size: cover;
                    height: 250px;
                }

                #img-3t {
                    background-image: url("../img/testimonials/birthday-cake.jpg");
                    background-position: center 87%;
                    background-size: cover;
                    height: 250px;
                }

                #img-4t {
                    background-image: url("../img/testimonials/fruit-cake.jpg");
                    background-position: center 87%;
                    background-size: cover;
                    height: 250px;
                }

                #img-5t {
                    background-image: url("../img/testimonials/cake-display.jpg");
                    background-position: center 87%;
                    background-size: cover;
                    height: 250px;
                }

                section {
                    .test-content {
                        >div {
                            h2 {
                                font-size: rem-calc(27);
                                font-weight: 600;
                            }

                            p {
                                font-size: rem-calc(16);
                                font-weight: 400;
                            }
                        }
                    }
                }
            }

            section {
                display: grid;
                grid-template-areas: ". testimonials .";
                grid-template-columns: 16px auto 16px;

                .test-content {
                    grid-area: testimonials;

                    >div {
                        >h2 {
                            color: $darkbrown;
                        }

                        >p {
                            color: $darkbrown;
                        }

                        .readmore {
                            background-color: $lightpink;
                            color: $darkbrown;
                            margin: 12px 17px 23px;

                            &:hover {
                                background-color: $darkbrown;
                                color: $lightpink;
                            }
                        }
                    }
                }
            }
        }
    }
}

#test-title {
    h1 {
        color: $darkbrown;
    }
}