/* =============
    testimonials
============= */
#testimonials{

   

        display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";
    
    .review{
        grid-area: search;
        border: 1px solid red;
    }
    

}