/* =============
    Footer
============= */

footer {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". footer .";

    background-color: $darkbrown;

    >div {
        grid-area: footer;
        // border: 1px solid blueviolet;

        section{
            #title-footer{
                color: $gray;

                font-size: rem-calc(20);
                font-weight: 600;
            }
            #address-footer{
                >ul{
                    >li{
                        h3{
                            color: $gray;


                font-size: rem-calc(16);
                font-weight: 500;
                        }
                        >div{
                            >div{
                                i{
                                color: $darkpink;
                                }
                                a{
                                    color: $gray;

                                    font-size: rem-calc(12);
                                    font-weight: 400;
                                }
                            }
                        }
                        address{
                            color: $gray;

                            font-size: rem-calc(12);
                            font-weight: 400;
                        }
                    }
                }
            }
            #sign-up-footer{
                h2{
                    color: $gray;
                    font-size: rem-calc(20);
                    font-weight: 600;
                }
                input{
                    background-color: $gray;
                    color: $darkbrown;

                        &::placeholder {
                            color: $darkbrown;
                        }
        
                        &:-ms-input-placeholder {
                            color: $darkbrown;
                        }
        
                        &::-ms-input-placeholder {
                            color: $darkbrown;
                        }
                }
                button{
                    background-color: $lightpink;
                    color: $darkbrown;

                    &:hover{
                        background-color: $darkbrown;
                        color: $lightpink;
                        border: 0.5px solid $lightbrown;
                    }
                }
            }
            #socials-footer{
                h2{
                    color: $gray;
                    font-size: rem-calc(20);
                    font-weight: 600;
                }
                ul{
                    li{
                        color: white;
                    }
                }
            }
        }

    }


    ul{
        li{
            >div{
                .address-flex{
                    display: flex;
                }
                .phone-flex{
                    display: flex;
                }
                }
            }
        }
    }

    // #section1-1 {
    //     display: grid; 
    //     grid-template-columns: 1fr 1fr;
    //     // grid-template-rows: 200px 200px;
    //     grid-template-areas:
    //         "symbol1 address1"
    //         "symbol2 phone";

    //     #symbol1-1 {
    //         grid-area: symbol1;
    //     }

    //     #address1-1 {
    //         grid-area: address1;
    //     }

    //     #symbol2-1 {
    //         grid-area: symbol2;
    //     }

    //     #phone1-1 {
    //         grid-area: phone;
    //     }

    // }


    // #section1-2 {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;

    //     grid-template-areas:
    //         "symbol1 address1"
    //         "symbol2 phone";

    //     #symbol1-2 {
    //         grid-area: symbol1;
    //     }

    //     #address1-2 {
    //         grid-area: address1;
    //     }

    //     #symbol2-2 {
    //         grid-area: symbol2;
    //     }

    //     #phone1-2 {
    //         grid-area: phone;
    //     }

    // }


    // #section1-3 {
    //     display: grid;
    //     grid-template-columns: 1fr 1fr;

    //     grid-template-areas:
    //         "symbol1 address1"
    //         "symbol2 phone";


    //     #symbol1-3 {
    //         grid-area: symbol1;
    //     }

    //     #address1-3 {
    //         grid-area: address1;
    //     }

    //     #symbol2-3 {
    //         grid-area: symbol2;
    //     }

    //     #phone1-3 {
    //         grid-area: phone;
    //     }

    // }

#social-media{
    display: flex;
    font-size: rem-calc(40px);
}

    // #social-media {

    //     display: grid;
    //     grid-template-columns: 16px auto auto auto auto 16px;

    //     grid-template-areas: ". yt t ig fb .";


    //     #yt {
    //         grid-area: yt;

    //     }

    //     #t {
    //         grid-area: t;
    //     }

    //     #ig {
    //         grid-area: ig;
    //     }

    //     #fb {
    //         grid-area: fb;
    //     }
    // }





footer {
    >div {


        >section {
            @include md {
                display: grid;
                grid-template-columns: auto auto;
                // grid-template-rows: 200px 200px;
                grid-template-areas:
                    "title title"
                    "loc sign-up"
                    "loc socials";
            }



            #title-footer {
                @include md {
                    grid-area: title;
                    //    border: 1px solid red;
                }
            }

            #address-footer {
                @include md {
                    grid-area: loc;
                    //    border: 1px solid red;
                }
            }

            #sign-up-footer {
                @include md {
                    grid-area: sign-up;
                    //    border: 1px solid red;
                }
            }

            #socials-footer {
                @include md {
                    grid-area: socials;
                    //    border: 1px solid red;
                }
            }

        }

        >section {
            @include lg {
                display: grid;
                grid-template-columns: auto auto auto;
                // grid-template-rows: 200px 200px;
                grid-template-areas:
                    "title title title"
                    "loc sign-up socials";
            }

            #title-footer {
                @include lg {
                    grid-area: title;
                    //    border: 1px solid red;
                }
            }

            #address-footer {
                @include lg {
                    grid-area: loc;
                    //    border: 1px solid red;
                }
            }

            #sign-up-footer {
                @include lg {
                    grid-area: sign-up;
                    //    border: 1px solid red;
                }
            }

            #socials-footer {
                @include lg {
                    grid-area: socials;
                    //    border: 1px solid red;
                }
            }
        }

        @include xl{
            padding-left: 10%;
            padding-right: 10%;
        }
    }
}
