/* =============
    Footer
============= */

footer{

    display: grid;
grid-template-columns: 16px auto 16px;
grid-template-areas: ". footer .";

#footer-test
    {
        grid-area: footer;
        border: 1px solid blueviolet;

    }
#social-media{
    display: grid;
grid-template-columns: 25% auto auto auto;
grid-template-areas: "yt t ig fb";
 
#yt{
    grid-area: yt;
}
#t{
    grid-area: t;
}
#ig{
    grid-area: ig;
}
#fb{
    grid-area: fb;
}

}


}




