/* =============
    Footer
============= */

footer{

    display: grid;
grid-template-columns: 16px auto 16px;
grid-template-areas: ". footer .";

#footer-test
    {
        grid-area: footer;
        // border: 1px solid blueviolet;

    }

}

#section1-1{
    display: grid;
grid-template-columns: 16px auto auto 16px ;
// grid-template-rows: 200px 200px;
grid-template-areas: 
                     ". symbol1 address1 ."
                     ". symbol2 phone";

#symbol1-1{
grid-area: symbol1;
}
#address1-1{
grid-area: address1;
}
#symbol2-1{
    grid-area: symbol2;
    }
#phone1-1{
grid-area: phone;
}
            
}

#section1-2{
    display: grid;
grid-template-columns: 16px auto auto 16px ;
// grid-template-rows: 200px 200px;
grid-template-areas: 
                     ". symbol1 address1 ."
                     ". symbol2 phone";

#symbol1-2{
grid-area: symbol1;
}
#address1-2{
grid-area: address1;
}
#symbol2-2{
    grid-area: symbol2;
    }
#phone1-2{
grid-area: phone;
}
            
}




#social-media{

        display: grid;
grid-template-columns: 16px auto auto auto auto 16px ;
// grid-template-rows: 200px 200px;
grid-template-areas: ". yt t ig fb .";
#yt{ 
    grid-area: yt;
}

#t{
    grid-area: t;
}
#ig{
    grid-area: ig;
}
#fb{
    grid-area: fb;
}



                    }