/* =============
    Header
============= */


header {
    background-color: $darkbrown;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;

    >div{
        display: grid;
        grid-template-areas: 
        "burger survival"
        "nav nav";
        grid-template-columns: 20% auto;


        @include lg{
            grid-template-areas: "nav survival";
            grid-template-columns: 20% auto;
        }

        #button-container{
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            button{
                background-color: $lightpink;
                color: $darkbrown;
                display: inline-block;
                font-size: rem-calc(18);
                padding: 10px 20px;
                transition: 0.25s;

                &:hover{
                    background-color: $darkbrown;
                    color: $lightpink;
                    border: 1px solid $lightpink;
                }
            }
        }

        #burger-container {
            align-items: center;
            display: flex;
            grid-area: burger;
            padding: 10px;

            @include lg{
                display: none !important;
            }

            i{
                cursor: pointer;
                font-size: rem-calc(30);
                color: $gray;

            }
        }

        #nav-container {
            background-color: $darkbrown;
            display: none;
            grid-area: nav;
            padding: 20px 10px 10px;

            @include lg {
                background-color: $darkbrown;
                display: block !important;
            }
        }
  
        
    }
}

#search {
    @include xl{
        grid-template-columns: auto 1000px auto;
    }


    padding: 40px 0px;
    @include md {
        font-size: rem-calc(30);
        padding: 20px 0px;
    }

    background-color: $gray;

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";

    font-weight: 300;

    @include xl {
        padding: 24px 0px;
    }

    @include xl {
        font-size: rem-calc(35);
        padding: 27px 0px;
   


    }

    >div {
        grid-area: search;


        form {


            display: grid;
            grid-template-columns: 92% auto;
            gap: 5px;


            @include lg{

                grid-template-columns: 93% auto;

            }
            padding-top: 50px;
            @include lg{
                padding-top: 70px;
            }

            input {


                color: $lightbrown;
          

                &::placeholder {
                    color: $lightbrown;
                }

                &:-ms-input-placeholder {
                    color: $lightbrown;
                }

                &::-ms-input-placeholder {
                    color: $lightbrown;
                }

                font-weight: 300;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $lightbrown;
                border-radius: 0px;
                // width: 100%;
            }

            button {
                background-color: $lightpink;
                color: $darkbrown;
                padding: 6px 0px;
                @include md{
                    padding: 9px 0px;
                }
                &:hover{
                    background-color: $darkbrown;
                    color: $lightpink;

                }
            }
        }
    }

}