/* =============
    Header
============= */

header {

    background-color: $darkbrown;

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". header .";

    >div {
        grid-area: header;

        padding: 20px 0px;

        // img{
        //     width: 100%;
        // }
    }

}




#search {
    @include xl{
        grid-template-columns: auto 1000px auto;
    }


    padding: 17px 0px;
    @include md {
        font-size: rem-calc(30);
        padding: 20px 0px;
    }

    background-color: $gray;

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". search .";

    font-weight: 300;

    @include xl {
        padding: 24px 0px;
    }

    @include xl {
        // grid-template-columns: auto 1000px auto;
        font-size: rem-calc(35);
        padding: 27px 0px;
   


    }

    >div {
        grid-area: search;


        form {


            display: grid;
            grid-template-columns: 92% auto;
            gap: 5px;


            @include lg{

                grid-template-columns: 93% auto;

            }

            input {


                color: $lightbrown;

                &::placeholder {
                    color: $lightbrown;
                }

                &:-ms-input-placeholder {
                    color: $lightbrown;
                }

                &::-ms-input-placeholder {
                    color: $lightbrown;
                }

                font-weight: 300;
                background-color: transparent;
                border: none;
                border-bottom: 1px solid $lightbrown;
                border-radius: 0px;
                // width: 100%;
            }

            button {
                background-color: $lightpink;
                color: $darkbrown;
                padding: 6px 0px;
                @include md{
                    padding: 9px 0px;
                }
                &:hover{
                    background-color: $darkbrown;
                    color: $lightpink;

                }
            }
        }
    }

}